<div class="registration-container">
  <div class="card">
    <h2>Créer votre compte bancaire</h2>
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Prénom</label>
        <input type="text" formControlName="firstName">
        <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="error">
          Prénom valide requise
        </div>
      </div>

      <div class="form-group">
        <label>Nom</label>
        <input type="text" formControlName="lastName">
        <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="error">
          Votre Nom valide requise
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
          Votre adresse mail valide requise
        </div>
        <div *ngIf="registerForm.get('email')?.hasError('emailTaken') && registerForm.get('email')?.touched" class="error">
          Cet email est déjà utilisé
        </div>
      </div>

      <div class="form-group">
        <label>Numero de téléphone</label>
        <input type="tel" formControlName="phone" placeholder="0612345678">
        <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched" class="error">
          10-digit numéro de téléphone requise
        </div>
      </div>

      <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" formControlName="password">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
          Le mot de passe doit contenir au moins :  
            <span>8 caractères</span>,  
            <span>1 majuscule</span>,  
            <span>1 minuscule</span>,  
            <span>1 chiffre</span>,  
            <span>1 caractère spécial</span>.
        </div>
      </div>

      <div class="form-group">
        <label>Confirmer votre mot de passe</label>
        <input type="password" formControlName="confirmPassword">
        <div *ngIf="registerForm.hasError('mismatch')" class="error">
          mot de passe doit corespondre
        </div>
      </div>

      <button type="submit" [disabled]="registerForm.invalid || loading">
        {{ loading ? 'Création en cours...' : 'Créer compte' }}
      </button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>